<!DOCTYPE html>
<html lang="en">

<head>
    <title>Authors Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">HelloWorld</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/books">Books</a></li>
                    <li class="nav-item"><a class="nav-link" href="/authors">Authors</a></li>
                    <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h2>Author Collection</h2>
    <table id="authorTable" border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Booklist</th>
                <th>Biography</th>
                <th>Delete</th>
                <th>Make Changes</th>
            </tr>
        </thead>
        <tbody>
            <% authors.forEach(author => { %>
                <tr>
                    <td><%= author.name %></td>
                    <td><i><%= author.booklist %></i></td>
                    <td><%= author.biography %></td>
                    <td>
                        <form action="/authors/<%= author.name %>?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="name" value="<%= author.name %>">
                        <button type="submit" class="delete-button">Delete</button>
                        </form>
                    </td>
                    <td>
                        <form action="/authors/<%= author.name %>?_method=PUT" method="POST">
                            <input type="hidden" name="_method" value="PUT">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name"><br>
                            <label for="booklist">Add to Booklist:</label>
                            <input type="text" id="booklist" name="booklist"><br>
                            <label for="biography">Biography:</label>
                            <input type="text" id="biography" name="biography"><br>
                            <input type="submit" value="Update info">
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    </div>

<!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>